html,body{
  height: 100%;
}
* {
  border-radius: 0 !important;
}
*:focus{
    box-shadow: none !important;
    border: 0 !important;
}
#main{
  padding-top: 50px;
}
.height-100{
  height: 100%;
}
.cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.relative{
  position: relative;
}
.square {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
form {
  margin-bottom: 1.125rem; }
  .navbar form {
    margin-bottom: 0; }
    .navbar form .bmd-form-group {
      display: inline-block;
      padding-top: 0; }
    .navbar form .btn, .navbar form .custom-file-control::before {
      margin-bottom: 0; }

.form-control, .custom-file-control {
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border: 0;
  transition: background 0s ease-out;
  padding-left: 0;
  padding-right: 0; }
  .form-control:focus, .custom-file-control:focus,
  .bmd-form-group.is-focused .form-control,
  .bmd-form-group.is-focused .custom-file-control {
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s; }

.bmd-help {
  position: absolute;
  display: none;
  font-size: .8rem;
  font-weight: normal; }
  .bmd-form-group.is-focused .bmd-help {
    display: block; }
  .bmd-help:nth-of-type(2) {
    padding-top: 1rem; }
  .bmd-help + .bmd-help {
    position: relative;
    margin-bottom: 0; }

.radio label,
.is-focused .radio label,
.radio-inline,
.is-focused
.radio-inline,
.checkbox label,
.is-focused
.checkbox label,
.checkbox-inline,
.is-focused
.checkbox-inline,
.switch label,
.is-focused
.switch label {
  color: rgba(0, 0, 0, 0.26); }
  .radio label:hover, .radio label:focus, .radio label:active,
  .is-focused .radio label:hover,
  .is-focused .radio label:focus,
  .is-focused .radio label:active,
  .radio-inline:hover,
  .radio-inline:focus,
  .radio-inline:active,
  .is-focused
  .radio-inline:hover,
  .is-focused
  .radio-inline:focus,
  .is-focused
  .radio-inline:active,
  .checkbox label:hover,
  .checkbox label:focus,
  .checkbox label:active,
  .is-focused
  .checkbox label:hover,
  .is-focused
  .checkbox label:focus,
  .is-focused
  .checkbox label:active,
  .checkbox-inline:hover,
  .checkbox-inline:focus,
  .checkbox-inline:active,
  .is-focused
  .checkbox-inline:hover,
  .is-focused
  .checkbox-inline:focus,
  .is-focused
  .checkbox-inline:active,
  .switch label:hover,
  .switch label:focus,
  .switch label:active,
  .is-focused
  .switch label:hover,
  .is-focused
  .switch label:focus,
  .is-focused
  .switch label:active {
    color: rgba(0, 0, 0, 0.54); }
  .radio label label:has(input[type=radio][disabled]), .radio label label:has(input[type=radio][disabled]):hover, .radio label label:has(input[type=radio][disabled]):focus,
  .radio label label:has(input[type=checkbox][disabled]),
  .radio label label:has(input[type=checkbox][disabled]):hover,
  .radio label label:has(input[type=checkbox][disabled]):focus,
  fieldset[disabled] .radio label,
  fieldset[disabled] .radio label:hover,
  fieldset[disabled] .radio label:focus,
  .is-focused .radio label label:has(input[type=radio][disabled]),
  .is-focused .radio label label:has(input[type=radio][disabled]):hover,
  .is-focused .radio label label:has(input[type=radio][disabled]):focus,
  .is-focused .radio label label:has(input[type=checkbox][disabled]),
  .is-focused .radio label label:has(input[type=checkbox][disabled]):hover,
  .is-focused .radio label label:has(input[type=checkbox][disabled]):focus,
  fieldset[disabled]
  .is-focused .radio label,
  fieldset[disabled]
  .is-focused .radio label:hover,
  fieldset[disabled]
  .is-focused .radio label:focus,
  .radio-inline label:has(input[type=radio][disabled]),
  .radio-inline label:has(input[type=radio][disabled]):hover,
  .radio-inline label:has(input[type=radio][disabled]):focus,
  .radio-inline label:has(input[type=checkbox][disabled]),
  .radio-inline label:has(input[type=checkbox][disabled]):hover,
  .radio-inline label:has(input[type=checkbox][disabled]):focus,
  fieldset[disabled]
  .radio-inline,
  fieldset[disabled]
  .radio-inline:hover,
  fieldset[disabled]
  .radio-inline:focus,
  .is-focused
  .radio-inline label:has(input[type=radio][disabled]),
  .is-focused
  .radio-inline label:has(input[type=radio][disabled]):hover,
  .is-focused
  .radio-inline label:has(input[type=radio][disabled]):focus,
  .is-focused
  .radio-inline label:has(input[type=checkbox][disabled]),
  .is-focused
  .radio-inline label:has(input[type=checkbox][disabled]):hover,
  .is-focused
  .radio-inline label:has(input[type=checkbox][disabled]):focus,
  fieldset[disabled]
  .is-focused
  .radio-inline,
  fieldset[disabled]
  .is-focused
  .radio-inline:hover,
  fieldset[disabled]
  .is-focused
  .radio-inline:focus,
  .checkbox label label:has(input[type=radio][disabled]),
  .checkbox label label:has(input[type=radio][disabled]):hover,
  .checkbox label label:has(input[type=radio][disabled]):focus,
  .checkbox label label:has(input[type=checkbox][disabled]),
  .checkbox label label:has(input[type=checkbox][disabled]):hover,
  .checkbox label label:has(input[type=checkbox][disabled]):focus,
  fieldset[disabled]
  .checkbox label,
  fieldset[disabled]
  .checkbox label:hover,
  fieldset[disabled]
  .checkbox label:focus,
  .is-focused
  .checkbox label label:has(input[type=radio][disabled]),
  .is-focused
  .checkbox label label:has(input[type=radio][disabled]):hover,
  .is-focused
  .checkbox label label:has(input[type=radio][disabled]):focus,
  .is-focused
  .checkbox label label:has(input[type=checkbox][disabled]),
  .is-focused
  .checkbox label label:has(input[type=checkbox][disabled]):hover,
  .is-focused
  .checkbox label label:has(input[type=checkbox][disabled]):focus,
  fieldset[disabled]
  .is-focused
  .checkbox label,
  fieldset[disabled]
  .is-focused
  .checkbox label:hover,
  fieldset[disabled]
  .is-focused
  .checkbox label:focus,
  .checkbox-inline label:has(input[type=radio][disabled]),
  .checkbox-inline label:has(input[type=radio][disabled]):hover,
  .checkbox-inline label:has(input[type=radio][disabled]):focus,
  .checkbox-inline label:has(input[type=checkbox][disabled]),
  .checkbox-inline label:has(input[type=checkbox][disabled]):hover,
  .checkbox-inline label:has(input[type=checkbox][disabled]):focus,
  fieldset[disabled]
  .checkbox-inline,
  fieldset[disabled]
  .checkbox-inline:hover,
  fieldset[disabled]
  .checkbox-inline:focus,
  .is-focused
  .checkbox-inline label:has(input[type=radio][disabled]),
  .is-focused
  .checkbox-inline label:has(input[type=radio][disabled]):hover,
  .is-focused
  .checkbox-inline label:has(input[type=radio][disabled]):focus,
  .is-focused
  .checkbox-inline label:has(input[type=checkbox][disabled]),
  .is-focused
  .checkbox-inline label:has(input[type=checkbox][disabled]):hover,
  .is-focused
  .checkbox-inline label:has(input[type=checkbox][disabled]):focus,
  fieldset[disabled]
  .is-focused
  .checkbox-inline,
  fieldset[disabled]
  .is-focused
  .checkbox-inline:hover,
  fieldset[disabled]
  .is-focused
  .checkbox-inline:focus,
  .switch label label:has(input[type=radio][disabled]),
  .switch label label:has(input[type=radio][disabled]):hover,
  .switch label label:has(input[type=radio][disabled]):focus,
  .switch label label:has(input[type=checkbox][disabled]),
  .switch label label:has(input[type=checkbox][disabled]):hover,
  .switch label label:has(input[type=checkbox][disabled]):focus,
  fieldset[disabled]
  .switch label,
  fieldset[disabled]
  .switch label:hover,
  fieldset[disabled]
  .switch label:focus,
  .is-focused
  .switch label label:has(input[type=radio][disabled]),
  .is-focused
  .switch label label:has(input[type=radio][disabled]):hover,
  .is-focused
  .switch label label:has(input[type=radio][disabled]):focus,
  .is-focused
  .switch label label:has(input[type=checkbox][disabled]),
  .is-focused
  .switch label label:has(input[type=checkbox][disabled]):hover,
  .is-focused
  .switch label label:has(input[type=checkbox][disabled]):focus,
  fieldset[disabled]
  .is-focused
  .switch label,
  fieldset[disabled]
  .is-focused
  .switch label:hover,
  fieldset[disabled]
  .is-focused
  .switch label:focus {
    color: rgba(0, 0, 0, 0.26); }

[class^='bmd-label'],
[class*=' bmd-label'] {
  color: rgba(0, 0, 0, 0.26); }

.form-control, .custom-file-control,
.is-focused .form-control,
.is-focused .custom-file-control {
  background-image: linear-gradient(to top, #00c7ce 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }

.form-control:invalid, .custom-file-control:invalid {
  background-image: linear-gradient(to top, #00D45A 2px, rgba(213, 0, 0, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }

.form-control:read-only, .custom-file-control:read-only {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }

fieldset[disabled][disabled] .form-control, fieldset[disabled][disabled] .custom-file-control, .form-control.disabled, .disabled.custom-file-control, .form-control:disabled, .custom-file-control:disabled, .form-control[disabled], [disabled].custom-file-control {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 30%, transparent 30%, transparent 100%);
  background-repeat: repeat-x;
  background-size: 3px 1px; }

.form-control.form-control-success, .form-control-success.custom-file-control,
.is-focused .form-control.form-control-success,
.is-focused .form-control-success.custom-file-control {
  background-image: linear-gradient(to top, #009688 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg=="; }

.form-control.form-control-warning, .form-control-warning.custom-file-control,
.is-focused .form-control.form-control-warning,
.is-focused .form-control-warning.custom-file-control {
  background-image: linear-gradient(to top, #009688 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+"; }

.form-control.form-control-danger, .form-control-danger.custom-file-control,
.is-focused .form-control.form-control-danger,
.is-focused .form-control-danger.custom-file-control {
  background-image: linear-gradient(to top, #009688 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4="; }

.is-focused .valid-feedback,
.is-focused .valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: rgba(0, 0, 0, 0.26); }

.is-focused .valid-tooltip,
.is-focused .valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: .2rem; }

.was-validated .is-focused .form-control:valid, .was-validated .is-focused .custom-file-control:valid, .is-focused .form-control.is-valid, .is-focused .is-valid.custom-file-control, .was-validated
.is-focused .custom-select:valid,
.is-focused .custom-select.is-valid, .was-validated
.is-focused .form-control:valid, .was-validated
.is-focused .custom-file-control:valid,
.is-focused .form-control.is-valid,
.is-focused .is-valid.custom-file-control, .was-validated
.is-focused .custom-select:valid,
.is-focused .custom-select.is-valid {
  border-color: rgba(0, 0, 0, 0.26); }
  .was-validated .is-focused .form-control:valid:focus, .was-validated .is-focused .custom-file-control:valid:focus, .is-focused .form-control.is-valid:focus, .is-focused .is-valid.custom-file-control:focus, .was-validated
  .is-focused .custom-select:valid:focus,
  .is-focused .custom-select.is-valid:focus, .was-validated
  .is-focused .form-control:valid:focus, .was-validated
  .is-focused .custom-file-control:valid:focus,
  .is-focused .form-control.is-valid:focus,
  .is-focused .is-valid.custom-file-control:focus, .was-validated
  .is-focused .custom-select:valid:focus,
  .is-focused .custom-select.is-valid:focus {
    border-color: rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }
  .was-validated .is-focused .form-control:valid ~ .valid-feedback, .was-validated .is-focused .custom-file-control:valid ~ .valid-feedback,
  .was-validated .is-focused .form-control:valid ~ .valid-tooltip,
  .was-validated .is-focused .custom-file-control:valid ~ .valid-tooltip, .is-focused .form-control.is-valid ~ .valid-feedback, .is-focused .is-valid.custom-file-control ~ .valid-feedback,
  .is-focused .form-control.is-valid ~ .valid-tooltip,
  .is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
  .is-focused .custom-select:valid ~ .valid-feedback,
  .was-validated
  .is-focused .custom-select:valid ~ .valid-tooltip,
  .is-focused .custom-select.is-valid ~ .valid-feedback,
  .is-focused .custom-select.is-valid ~ .valid-tooltip, .was-validated
  .is-focused .form-control:valid ~ .valid-feedback, .was-validated
  .is-focused .custom-file-control:valid ~ .valid-feedback,
  .was-validated
  .is-focused .form-control:valid ~ .valid-tooltip,
  .was-validated
  .is-focused .custom-file-control:valid ~ .valid-tooltip,
  .is-focused .form-control.is-valid ~ .valid-feedback,
  .is-focused .is-valid.custom-file-control ~ .valid-feedback,
  .is-focused .form-control.is-valid ~ .valid-tooltip,
  .is-focused .is-valid.custom-file-control ~ .valid-tooltip, .was-validated
  .is-focused .custom-select:valid ~ .valid-feedback,
  .was-validated
  .is-focused .custom-select:valid ~ .valid-tooltip,
  .is-focused .custom-select.is-valid ~ .valid-feedback,
  .is-focused .custom-select.is-valid ~ .valid-tooltip {
    display: block; }

.was-validated .is-focused .form-check-input:valid ~ .form-check-label, .is-focused .form-check-input.is-valid ~ .form-check-label, .was-validated
.is-focused .form-check-input:valid ~ .form-check-label,
.is-focused .form-check-input.is-valid ~ .form-check-label {
  color: rgba(0, 0, 0, 0.26); }

.was-validated .is-focused .form-check-input:valid ~ .valid-feedback,
.was-validated .is-focused .form-check-input:valid ~ .valid-tooltip, .is-focused .form-check-input.is-valid ~ .valid-feedback,
.is-focused .form-check-input.is-valid ~ .valid-tooltip, .was-validated
.is-focused .form-check-input:valid ~ .valid-feedback,
.was-validated
.is-focused .form-check-input:valid ~ .valid-tooltip,
.is-focused .form-check-input.is-valid ~ .valid-feedback,
.is-focused .form-check-input.is-valid ~ .valid-tooltip {
  display: block; }

.was-validated .is-focused .custom-control-input:valid ~ .custom-control-label, .is-focused .custom-control-input.is-valid ~ .custom-control-label, .was-validated
.is-focused .custom-control-input:valid ~ .custom-control-label,
.is-focused .custom-control-input.is-valid ~ .custom-control-label {
  color: rgba(0, 0, 0, 0.26); }
  .was-validated .is-focused .custom-control-input:valid ~ .custom-control-label::before, .is-focused .custom-control-input.is-valid ~ .custom-control-label::before, .was-validated
  .is-focused .custom-control-input:valid ~ .custom-control-label::before,
  .is-focused .custom-control-input.is-valid ~ .custom-control-label::before {
    background-color: rgba(64, 64, 64, 0.26); }

.was-validated .is-focused .custom-control-input:valid ~ .valid-feedback,
.was-validated .is-focused .custom-control-input:valid ~ .valid-tooltip, .is-focused .custom-control-input.is-valid ~ .valid-feedback,
.is-focused .custom-control-input.is-valid ~ .valid-tooltip, .was-validated
.is-focused .custom-control-input:valid ~ .valid-feedback,
.was-validated
.is-focused .custom-control-input:valid ~ .valid-tooltip,
.is-focused .custom-control-input.is-valid ~ .valid-feedback,
.is-focused .custom-control-input.is-valid ~ .valid-tooltip {
  display: block; }

.was-validated .is-focused .custom-control-input:valid:checked ~ .custom-control-label::before, .is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before, .was-validated
.is-focused .custom-control-input:valid:checked ~ .custom-control-label::before,
.is-focused .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  background-color: rgba(26, 26, 26, 0.26); }

.was-validated .is-focused .custom-control-input:valid:focus ~ .custom-control-label::before, .is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before, .was-validated
.is-focused .custom-control-input:valid:focus ~ .custom-control-label::before,
.is-focused .custom-control-input.is-valid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fafafa, 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }

.was-validated .is-focused .custom-file-input:valid ~ .custom-file-label, .is-focused .custom-file-input.is-valid ~ .custom-file-label, .was-validated
.is-focused .custom-file-input:valid ~ .custom-file-label,
.is-focused .custom-file-input.is-valid ~ .custom-file-label {
  border-color: rgba(0, 0, 0, 0.26); }
  .was-validated .is-focused .custom-file-input:valid ~ .custom-file-label::before, .is-focused .custom-file-input.is-valid ~ .custom-file-label::before, .was-validated
  .is-focused .custom-file-input:valid ~ .custom-file-label::before,
  .is-focused .custom-file-input.is-valid ~ .custom-file-label::before {
    border-color: inherit; }

.was-validated .is-focused .custom-file-input:valid ~ .valid-feedback,
.was-validated .is-focused .custom-file-input:valid ~ .valid-tooltip, .is-focused .custom-file-input.is-valid ~ .valid-feedback,
.is-focused .custom-file-input.is-valid ~ .valid-tooltip, .was-validated
.is-focused .custom-file-input:valid ~ .valid-feedback,
.was-validated
.is-focused .custom-file-input:valid ~ .valid-tooltip,
.is-focused .custom-file-input.is-valid ~ .valid-feedback,
.is-focused .custom-file-input.is-valid ~ .valid-tooltip {
  display: block; }

.was-validated .is-focused .custom-file-input:valid:focus ~ .custom-file-label, .is-focused .custom-file-input.is-valid:focus ~ .custom-file-label, .was-validated
.is-focused .custom-file-input:valid:focus ~ .custom-file-label,
.is-focused .custom-file-input.is-valid:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }

.is-focused [class^='bmd-label'],
.is-focused [class*=' bmd-label'],
.is-focused [class^='bmd-label'],
.is-focused [class*=' bmd-label'] {
  color: #009688; }

.is-focused .bmd-label-placeholder,
.is-focused .bmd-label-placeholder {
  color: rgba(0, 0, 0, 0.26); }

.is-focused .form-control, .is-focused .custom-file-control,
.is-focused .form-control,
.is-focused .custom-file-control {
  border-color: rgba(0, 0, 0, 0.26); }

.is-focused .bmd-help,
.is-focused .bmd-help {
  color: rgba(0, 0, 0, 0.54); }

.input-group-text {
  border: 0;
  background: #fff important;
}

.btn-primary {
    color: #fff;
    background-color: #474747;
    border-color: #373737;
}
.btn-primary:hover {
    background-color: #373737 !important;
    border-color: #272727;
}
button{
	cursor:pointer;
}
.documentos a,
.documentos a:link,
.documentos a:visited,
.documentos a:focus,
.documentos a:hover{
	text-decoration:underline;
	color:#06F;
}
p{
	font-size:13px;
}
h1,h2,h3,h4,h5,h6{
	 font-family: 'Oswald', sans-serif;
}
#profile{
	width: 48px;
	border-radius: 50%;
	/*transform: translatey(8px);*/
}
#container_iframe{
	width: 100%;
	padding:0;
	margin: 50px 0 0 0;
	height: calc(100vh - 50px);
}

#container_iframe_modal{
	width: 100%;
	padding:0;
	margin: 50px 0 0 0;
	height: calc(100vh - 50px);
}

.font-weight-700{
	 font-weight:700;
}
.form_login{
	padding-left: 8%;
	padding-right: 8%;
}

.visible{
	overflow: hidden;
}

.btn-link{
	cursor:pointer;
}

#home{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.login> div> div> img{
	max-height: 100vh;
}

.welcome{
	margin-top:15%;
}

.welcome img{
	width: 30%;
}

.welcome h1{
	font-size:60px;
}
.welcome h2{
	font-size:40px;
	font-family: 'Roboto Condensed', sans-serif;
}
.welcome h3{
	font-size:30px;
}
.welcome h4{
	font-size:20px;
}
.welcome h5{
	font-size:15px;
}
.welcome h6{
	font-size:12px;
}
@media (max-width: 576px) {
	.welcome h1{
		font-size:40px;
	}
	.welcome h2{
		font-size:30px;
	}
	.welcome h3{
		font-size:22px;
	}
	.welcome h4{
		font-size:18px;
	}
	.welcome h5{
		font-size:15px;
	}
	.welcome h6{
		font-size:12px;
	}
}

.margin-top-100{
	margin-top:100px;
}

.form-group{
	margin-top:20px;
}
#flash{
	position:fixed;
	width:100%;
	top:0;
	left:0;
	max-height:100px;
	z-index:10000;
}

.custom-control-indicator{
	background-color: #414141 !important;
}

.filters{
	/*padding:10px;*/
	background-color:white;
	margin-bottom:20px;
}
.form{
	margin:20px 0;
}
.form .item{
	border-bottom:2px solid #F2F2F2;
	padding-bottom:10px;

}
.form .sub-item{
	padding-top:10px;
}
.form-control {
	font-size:14px;
}
.no-padding{
	padding:0;
}
.custom-control {
	margin:0;
}
.form-control {
  	position: relative;
/*	padding: 10px;*/
}
.form-input{
	font-size:14px;
	padding: 10px;
	width: 80%;
}

.btn-primary {
    color: #fff;
    background-color: #414141;
    border-color: #434343;
}

.btn-primary:hover {
    color: #fff;
    background-color: #414141;
    border-color: #434343;
}

.btn-secondary:hover{
	color: #fff;
    background-color: #414141;
    border-color: #434343;
}

button, .btn-primary.disabled, .btn-primary:disabled {
    background-color: #414141 !important;
    font-weight: bold;
    border-color: #434343;
}

.primary:disabled {
    background-color: #414141 !important;
    font-weight: bold;
    border-color: #434343;
}

.btn-warning {
    color: #fff;
    background-color: #414141;
    border-color: #434343;
}

.btn-warning:hover {
    background-color: #414141 !important;
    font-weight: bold;
    border-color: #434343;
}

.contrasena{
	padding-left: 0;
}

.btn-info {
    color: #fff;
    /*background-color: #777;
    border-color: #999;*/
}
.input-group-addon {
	background-color:#414141;
	color:#fff;
}

a {
    color: #333;
    text-decoration: none;
}
a:focus, a:hover {
    color: #414141;
    text-decoration: underline;
}

.oscuro{
	background: #f2f2f2;
}

.alert-info {
    background-color: #414141 !important;
    border-color: #434343 !important;
    color: white;
}

.navbar-inverse .navbar-nav .active > .nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open > .nav-link {
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size:18px;
}
.navbar-inverse .navbar-nav .nav-link {
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size:18px;
}
.navbar{
 	margin:0;
 	padding: 0;
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50px;
 }
#MiInfo{
	margin-top: 5px;
}

nav>ul>li ,#Menu_user{
	display: none;
	-webkit-box-shadow: 5px 7px 6px -6px #777;
    -moz-box-shadow: 5px 7px 6px -6px #777;
    box-shadow: 5px 7px 6px -6px #777;
    padding: 22px;
    transition: all 2s ease;
}
nav> ul> li> #Menu_user ,#fondo{
	background-image: url("../../images/background.png");
	width: 100%;
	height: 90px;
}

.dropdown-toggle{
	color:white;
}

.dropdown-toggle:hover{
	color:white;
}

.show>.dropdown-menu {
	right:0;
	top: 78%;
}

.MarcAgua{
	background-image: url("../../images/background.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 160px;
	position: relative;
	padding: 6px;
}

.MarcAgua h4{
	position: absolute;
	bottom: 0PX;
	right: 10px;
}
.contenido{
	padding: 3px 0px 0px 0px;
}
.contenido>div{
	font-size: 13px;
	padding: 0px;
	line-height: 20px;
	margin-bottom: 15px;
	color: black;
	text-align: justify;
}
.titulo{
	font-weight: bold;
	font-size: 24px;
	padding-left: 5px;
	background:#414141;
	color: white;
}
.marleft{
	margin-left: 50px;
}
.contenido>p {
	font-size: 13px;
	padding: 0px;
	line-height: 20px;
	color: black;
	text-align: justify;
}
.contenido>p>b {
	font-size: 12px;
	border-bottom: 1px solid black;
	font-weight: 700;
}
#fondo> div img{
	background: white;
}

#info{
	padding: 10px;
}
#salir{
	font-size: 18px;
	font-weight: bold;
	margin:10px 0px 10px 0px;
}
#salir a{
	padding:10px 0px 10px 0px;
}
#salir a:hover{
	text-decoration: none;
	color: #ff6600;
}
.bg-primary {
   /* background-color: #014481 !important;*/
   background-color:   #414141 !important;
}
.orange{
	/*color:#FF8000;*/
	color:#4ae387;
}
/* Grid demo styles */
.grid-demo {
  	padding: 10px 30px;
}

.grid-demo [class*="col-"] {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1em;
	line-height: 2;
}
.grid-demo [class*="col-"] .block{
	padding:5px;
}
.grid-demo [class*="col-"] .block h6{
	border-bottom:2px solid #f3f3f3;
	padding-bottom:10px;
}
.padding{
	padding:10px;
}
.btn-outline-warning {
	color: #FF8000;
	background-image: none;
	background-color: transparent;
	border-color: #FF8000;
}
.btn-outline-warning:hover {
	color: #fff;
	background-color:#FF8000;
}
 #navBarSearchForm input[type=text]{width:400px !important;}



input, textarea{

    color: #FFF;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #333;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #333;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #333;
}
.reloj{
/*	margin:10px;*/
	margin-bottom:0;
}
.reloj table{
	width:100%;
}
.reloj td{
	text-align:center;
	width:23%;
	background-color:#414141;
	color:#fff;
	float:left;
	margin:1%;
	display:block;
}
.reloj tr.leyenda{
	background-color:#414141;
}
.reloj .leyenda{
	font-size:9px;
	font-weight:bold;
}
.reloj .leyenda div{
	display:block;
	padding:2px;
}
#navbarTopMenu .show{
	background-color:#FFF;
}
#navbarTopMenu .show a{
	/*color:#014481;*/
	color:#414141;
}
.form .input-group-addon{
	width:80px;
}
/*input,select,textarea{
	/*text-transform:uppercase;
}*/
.fa-arrow-down{
	color:#0C6;
}
.fa-arrow-up{
	color:#FF8000;
}
.btn-link,.btn-link:hover,.btn-link:link,.btn-azul:link,.btn-azul:hover {
	color:#014481;
}
.section {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
    line-height: 2;
    margin-bottom: 3em;
    padding: 2.75em;
}
.separar{
	margin-bottom:15px;
}
.input_dinamico{
	text-align:right;
}
.blurdiv{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
.relative{
	position:relative;
}
.absolute{
	position:absolute;
}
#pagado{
	width:100%;
	font-size:86px;
	font-weight:bold;
}
.table-striped tr:hover{
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}
.table-hover tbody tr:hover{
	background:#F2f2f2;
}
@media (min-width: 768px) {
  /*.a {
	   width: 95%;
	   max-width:1200px;
  }*/
}
@media (min-width: 768px) {
  .modal-lg {
	   width: 65%;
	   max-width:1200px;
  }
}
.w100{
	width:100%;
}

.triangulo-equilatero-bottom {
     width: 0;
     height: 0;
     border-right: 7px solid transparent;
     border-top: 7px solid transparent;
     border-left: 7px solid transparent;
     border-bottom: 7px solid #000;
}


/*pgrw_windows*/
.pgrw_windows{
	width:100%;
	position:relative;
}
.pgrw_windows .triangulo{
	position:absolute;
	z-index:99999;
}
/*.pgrw_windows .form-control-pgrw-content{
	/*display:none;
}*/
.pgrw_windows .img{
	background-color:#999;
	width:50px;
	height:50px;
	margin:30px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.pgrw_windows .form-control-pgrw-content{
	position:absolute;
	z-index:11111;
	width:450px;
	right:0;
	min-height:270px;
	background-color:#fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pgrw_windows .form-control-pgrw-topbackground{
	position:relative;
	background-color:#333;
	height:100px;
	background-image:url(../../images/background.png);
}
.pgrw_windows
.form-control-pgrw-topimg{
	position:absolute;
	left:15px;
	top:15px;
	width:70px;
	height:70px;
}

.pgrw_windows
.form-control-pgrw-topimg .d-block{
	width:90%;
	margin:5%;
}

.pgrw_windows
.form-control-pgrw-header{
	position:absolute;
	left:85px;
	top:0px;
	width:230px;
	min-height:10px;
	padding:3px 10px;
}

.pgrw_windows
.form-control-pgrw-topmenu{
	position:absolute;
	right:0px;
	top:0px;
	width:100px;
	padding:3px 10px;
	background-color:#960;
}

.pgrw_windows
.form-control-pgrw-header
.form-control-pgrw-title{
	font-size:14px;
	color:#fff;
}
.pgrw_windows
.form-control-pgrw-header
.form-control-pgrw-subtitle{
	font-size:12px;
	color:#fff;
	font-family:'Raleway', sans-serif;
}
.pgrw_windows
.form-control-pgrw-header
.form-control-pgrw-trmvigente{
	font-size:11px;
	color:#fff;
	font-family:'Raleway', sans-serif;
}

.pgrw_windows .form-control-pgrw-body{
	margin:10px;
}
.pgrw_windows .form-control-pgrw-body .contenido .item{
	padding-bottom:5px;
	border-bottom:solid 1px #f2f2f2;
}
.pgrw_windows .btn-group-sm > .btn, .btn-sm {
	font-size:10px;
	font-weight:bold;
}

/*.pgrw_windows .btn-group a{
}*/
/*.image_circle_default{
}*/
.image_rect{
	width:260px;
	height:50px;
	background: url(../../images/Logo%20Webcamplus.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.preview canvas{
	width:100%;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not
        listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with
        its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
.fecha{
	position:relative;
	z-index:100000;

}
.table-short td,
.table-short th{
	padding: .15rem;
	vertical-align: top;
	font-size:10px;
	font-weight:bold;
}
th.dias,
td.dias{
	width:40px;
	text-align:center;
}
.gris{
	background:#f2f2f2;

}
#block_intro{
	background-color:#ddd;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index:100000;
}
#block_intro video{
	width:100%;
	height:100%;
}
 .mine
.ProximaPag{
	width: 100%;
}
.ProximaPag>a{
	padding: 20px;
	background: #848484;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	border-radius:3px;
	transition: all ease 1.5s;
}
.ProximaPag>a:hover{
	text-decoration: none;
	background: #FF8000;
}
.ts-13{
	font-size:13px;
}
.block-title{
	height:32px;
	/*background-color:#FF8000;*/
	background-color:#414141;
	color:#fff;
}
.block-title div.ico{
	float:left;
	width:40px;
	text-align:center;
	padding:5px;
}
.block-title div.ico i{
	margin:0 auto;
}
.block-title div.text{
	padding:5px;
	padding-top:12.5px;
	margin-left:40px;
	background-color:#fff;
	color:#6E6E6E;
  border-bottom: solid 1px #00D25A;
  font-size: 14px;
  font-weight: bold;
}
.dropdown-menu .btn{
	line-height: 0.25;
}
.dropdown-menu .grid-demo [class*="col-"] {
    line-height: 1;
}
.table td, .table th {
	padding: 0px;
	font-size:12px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-short{
	height:40px;
}
/*.nav-short .nav-link{
	/*
	background:#FF8000;
	color:#FFF;
}*/
#reloj{
	background: #585858 !important;
	width: 120px;
	height: 120px;
	position: fixed;
	right: 20px;
	top: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: auto;
	border: 6px inset #FE642E;
	color:white;
	z-index:1000;

}
#reloj .texto{
	font-size: 7px;
	font-weight: bold;
}
.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
.section__{
	font-size:12px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	/*background-color:#014481 !important;*/
	background-color:#414141;
	color:#fff;
	font-weight:bold;
}
a.documentos,
a.documentos:link,
a.documentos:hover,
a.documentos:visited{
	text-decoration:none;
	color:blue;
}
.btn {
	font-size:13px;
	line-height:15px;
}
.form-group {
	font-size:13px;
}
.reverse{
	display:flex;
}
.size-s{
	font-size:13px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding:0;
	margin:0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border:solid 1px;
}

.credit-input{
	display: flex;
	font-size:14px;
	position: relative;
	width:100%;
	border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
	padding: 10px;
}

.credit-cell{
	width: 40px;
	border: none;
	color: black;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
#examenes .row{
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}
#Opciones_excel{
	position: absolute;
	right: 16px;
	z-index: 10;
	background: white;
	border-radius: 4px;
	width: 350px;
	box-shadow: 1px 1px 10px 1px #BDBDBD;
	padding: 15px;
}

#Opciones_excel>form{
	display: flex;
}

#Opciones_excel>a{
	margin-top: 15px;
	width: 100%;
}

.oscuro{
background-color:#f2f2f2;
}
.claro{
    background-color:#fbfbfb;
}
.tachado{text-decoration:line-through;}

#efectoImagen{
	cursor:pointer;
	-webkit-transition: width 2s, height 2s,
	-webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
}

#efectoImagen:hover{
	width: 150px;
	height: 150px;
}

.dowload:focus{
	background:#005291;
	color:white;
}

.option_select{
	background: #D7DBDD;
}

.vin{
  text-decoration:underline;
  color:#06F;
}

.btn-secondary{
	color:white;
	border-color: #414141;
}

.sw-theme-circles > ul.step-anchor > li.active > a {
	border-color: #292b2c;
	color: #fff;
	background: #292b2c;
	text-transform: none;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 50px;
    left: -250px;
    height: calc(100vh - 50px);
    z-index: 9990000;
    background: #6E6E6E;;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar2 {
    width: 250px;
    position: fixed;
    top: 50px;
    left: -250px;
    height: calc(100vh - 50px);
    z-index: 9990000;
    background: #6E6E6E;;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar3 {
    width: 250px;
    position: fixed;
    top: 50px;
    left: -250px;
    height: calc(100vh - 50px);
    z-index: 9990000;
    background: #6E6E6E;;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar4 {
    width: 250px;
    position: fixed;
    top: 50px;
    left: -250px;
    height: calc(100vh - 50px);
    z-index: 9990000;
    background: #6E6E6E;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 4px;
    font-size: 1.2em;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color:  black;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    text-decoration:none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#sidebarCollapse{
	position: absolute;
	top: 60px;
	left: 0;
	z-index: 9999;
}

#sidebarCollapse2{
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 9999;
}

#sidebarCollapse3{
	position: absolute;
	top: 140px;
	left: 0;
	z-index: 9999;
}

#sidebarCollapse4{
	position: absolute;
	top: 180px;
	left: 0;
	z-index: 9999;
}

.modal_margin_top{
	top:9em;
}

.modal-header{
	min-height: 60px;
	background: #6E6E6E;
	color: white;
}

#smartwizard{
	margin-left: -15px;
	margin-right: -15px;
}

.embed-responsive{
	height: 100%;
}
.avatar-md{
	width: 40px;
	transition: transform .5s ease;
}
.avatar-md:hover{
	transform: scale(2.5);
}
.embed-responsive {
	height: 100%;
}
.iframer .form-control,
.iframer .custom-file-control,
.iframer .is-focused .form-control,
.iframer .is-focused .custom-file-control{
    background-image: linear-gradient(to top, #4ae387 2px, rgba(0, 150, 136, 0) 2px),
											linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px);
}
.page-item.active .page-link {
	background-color: #414141;
	border-color: #414141;
	color: #ffffff;
}
.form-control-alert{
	color: red;
}
